@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 網頁常用設定 */
* {
	box-sizing: border-box;
}

a {
	display: block;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* Body */
body {
    background-color: #FFF5EC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#finish {
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    padding: 30px 0;
    width: 500px;
    height: 600px;
}

#finish .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#finish .container .figure {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#finish .container .figure img {
    background-color: #f4d548;
    width: 50%;
    border-radius: 50%;
}

#finish .container .title {
    margin-bottom: 30px;
}

#finish .container .title h2 {
    font-size: 40px;
    font-weight: 600;
    color: #269577;
}

#finish .container .text {
    margin-bottom: 30px;
}

#finish .container .text p {
    font-size: 20px;
    color: #000;
}

#finish .container .button a {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    background-color: #f4d548;
    padding: 20px 20px;
    border-radius: 10px;
}

#finish .container .button a:hover {
    background-color: #f7be1f;
}