@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 網頁常用設定 */
* {
	box-sizing: border-box;
}

a {
	display: block;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* Topbar */
#topbar {
    background-color: #FFF5EC;
    position: fixed;
    width: 100%;
    /* height: 10vh; */
}

#topbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#topbar .container .logo {
    margin-right: 20px;
}

#topbar .container .logo img {
    width: 90px;
}

#topbar .container .menu {
    display: flex;
    border: 2px solid #269577;
    border-radius: 50px;
    padding: 20px 0;
}

#topbar .container .menu a {
    font-family: Staatliches;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000;
    margin: 0 20px;
}

#topbar .container .menu a:hover {
    color: #269577;
}

/* Main */
#sub {
    background-color: #FFF5EC;
    display: flex;
    align-items: center;
    padding: 0 50px;
    padding-top: 100px;
    height: 95vh;
}

#sub .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sub .container .crown {
    position: absolute;
    top: 140px;
    left: 500px;
}

#sub .container .crown img {
    width: 25%;
}

#sub .container .price_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sub .container .price_box .little {
    width: 300px;
}

#sub .container .price_box .big {
    width: 350px;
}

#sub .container .price_box .pricing {
    background-image: linear-gradient(to bottom, #269577 80%, #274b2b );
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    margin: 0 30px;
}

#sub .container .price_box .pricing:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
}

#sub .container .price_box .pricing img {
    width: 70%;
}

#sub .container .price_box .pricing .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub .container .price_box .pricing .content h2 {
    font-family: Staatliches;
    font-size: 40px;
    letter-spacing: 3px;
    color: #FFF5EC;
    margin-bottom: 30px;
}

#sub .container .price_box .pricing .content p {
    font-size: 20px;
    font-weight: 600;
    color: #FFF5EC;
    margin-bottom: 20px;
}

#sub .container .price_box .pricing .button {
    display: flex;
    justify-content: flex-start;
}

#sub .container .price_box .pricing .button a {
    font-family: Staatliches;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000;
    background-color: #f4d548;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#sub .container .pricing .button a:hover {
    background-color: #f7be1f;
}

/* Footer */
footer {
    background-color: #269577;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

footer p {
    color: #FFF5EC;
    font-size: 15px;
    margin: 0 10px;
}